.body {
  background: #f4f4f4;
}
.container {
  width: 80%;
  margin: 0 auto;
  background: #fff;
}

.posts {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px lawngreen solid;
}

.comments {
  background: aquamarine;
}